{{#if session.isAuthenticated}}
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
    <div class="container">
      {{link-to "Ember Quiz" "index" class="navbar-brand"}}
      <div class="text-white">
        <span data-test-eq="hello-user">Hello {{currentUser.user.firstName}}!</span>
        <span class="mx-1">|</span>
        <a href data-test-eq="logout-button" {{action "logout"}}>Logout</a>
      </div>
    </div>
  </nav>
  <div class="container">
    {{outlet}}
  </div>
{{else}}
  <div class="login">
    {{outlet}}
  </div>
{{/if}}
